__pycache__/
*.pyc
*.pyo
*.egg-info/
build/
dist/
.pytest_cache/
.mypy_cache/
.venv/
.env
.DS_Store
.pybuild/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/tiny-pomodoro-xfce/
*.buildinfo
*.changes
*.deb
