[Desktop Entry]
Type=Application
Name=Tiny Pomodoro
Comment=Pomodoro and countdown timer for XFCE
Exec=tiny-pomodoro
Icon=tiny-pomodoro
Terminal=false
Categories=Utility;GTK;
StartupNotify=true
StartupWMClass=TinyPomodoro
X-GNOME-UsesNotifications=true
